
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Vinhomes Management </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--------------------------------CSS---------------------------------------->
    <link th:href="@{/assets/quanly/vendor/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/quanly/vendor/css/atlantis.css}" rel="stylesheet" type="text/css">
    <link rel="icon" th:href="@{/assets/quanly/vendor/img/icon.ico}" type="image/x-icon"/>
    <link th:href="@{/assets/quanly/vendor/css/demo.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/quanly/vendor/css/fonts.css}" rel="stylesheet">
    <link th:href="@{/assets/quanly/vendor/css/fonts.min.css}" rel="stylesheet">
    <!---------------------------------------------------------->
    <script th:src="@{/assets/quanly/vendor/js/core/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/assets/quanly/vendor/js/plugin/webfont/webfont.min.js}"></script>
    <script th:src="@{/assets/quanly/vendor/js/core/popper.min.js}"></script>
    <script th:src="@{/assets/quanly/vendor/js/core/bootstrap.min.js}"></script>
    <script th:src="@{/assets/quanly/vendor/ckeditor/ckeditor.js}"></script>

    <!-- jQuery UI -->
    <script th:src="@{/assets/quanly/vendor/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
    <script th:src="@{/assets/quanly/vendor/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>

    <!-- jQuery Scrollbar -->
    <script th:src="@{/assets/quanly/vendor/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>


    <!-- Chart JS -->
    <script th:src="@{/assets/quanly/vendor/js/plugin/chart.js/chart.min.js}"></script>

    <!-- jQuery Sparkline -->
    <script th:src="@{/assets/quanly/vendor/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

    <!-- Chart Circle -->
    <script th:src="@{/assets/quanly/vendor/js/plugin/chart-circle/circles.min.js}"></script>

    <!-- Datatables -->
    <script th:src="@{/assets/quanly/vendor/js/plugin/datatables/datatables.min.js}"></script>

    <!-- Bootstrap Notify -->
    <script th:src="@{/assets/quanly/vendor/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>


    <!-- Sweet Alert -->
    <script th:src="@{/assets/quanly/vendor/js/plugin/sweetalert/sweetalert2@9.js}"></script>
    <link th:href="@{/assets/quanly/vendor/js/plugin/toastr/toastr.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/assets/quanly/vendor/js/plugin/toastr/toastr.min.js}"></script>
    
    <!-- Drowpdown search with selecte2 for id Apratment -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

    <script th:src="@{/assets/quanly/js/helper/formatdata.js}"></script>
    <script th:src="@{/assets/quanly/js/helper/sweetalert2.js}"></script>
    <script th:src="@{/assets/quanly/js/helper/toastr.js}"></script>
    <!-- Atlantis JS -->
    <script th:src="@{/assets/quanly/vendor/js/atlantis.js}"></script>
    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script type="text/javascript" th:inline="javascript">
        const URL  = [[@{'/'}]]; 	 // url gốc
        // or const URL window.location.origin
    </script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/quanly/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <style>
    .modal h5{
    	color:black;
    } 
    </style>
		
</head>
