<div data-layout-decorate="~{layout-admin}" layout:fragment="content"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org">
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Quản lý thông báo</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a th:href="@{/quan-ly}">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a >Thông báo</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item" id="level3-menu">
                            <a >Cập nhật thông báo</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Cập nhật thông báo</h4>    
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-4 pl-2">
                                            <div class="form-group form-group-default">
                                                <input type="number" id="id" hidden="true" th:value="${id}"/>
                                                <label>Tiêu đề</label>
                                                <input class="form-control" id="title" placeholder="Tiêu đề bài viết" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4 pl-2">
                                            <div class="form-group form-group-default">
                                                <label>Ngày tạo </label>
                                                <input class="form-control" id="date" placeholder="Ngày tạo" type="date">
                                            </div>
                                        </div>
                                        <div class="col-md-4 pl-2">
                                            <div class="form-group form-group-default">
                                                <label>Hình ảnh</label>
                                                <input class="form-control" id="image" placeholder="Hình ảnh đại diện" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 pl-2">
                                            <div class="form-group form-group-default">
                                                <label>Mô tả ngắn</label>
                                                <textarea id="description" rows="3" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 pl-2">
                                            <div class="form-group form-group-default">
                                                <label>Nội dung</label>
                                                <textarea  id="note" name="note" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row float-right flex-wrap">
	                                    <button id="save" type="button" class="btn btn-success btn-sm mr-2" >
	                                        <i class="fas fa-save"></i>
	                                        Lưu lại
	                                    </button>
	                                    <a  th:href="@{/quan-ly/thong-bao}">
	                                        <button type="button"class="btn btn-danger btn-sm mr-3"   >
	                                            <i class="fas fa-sign-out-alt"></i>
	                                           Thoát
	                                        </button>
	                                    </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <footer class="footer">
            <div class="container-fluid">
                <div class="pull-left"></div>
                <div class="copyright ml-auto">
                    Version 1.0
                </div>
            </div>
        </footer>

        <script th:src="@{/assets/quanly/js/thong-bao/form-thongbao.js}"></script>
    </div>
</div>