<!DOCTYPE html>
<html lang="en"   
      xmlns:th="http://www.thymeleaf.org">

<head >
    <link th:href="@{/assets/quanly/vendor/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body style="text-align: center;"  >
 
    <img style=" margin-top: 30px;"   alt="Loading..." th:src="@{/assets/quanly/vendor/img/403.png}">
    <br>
    <a th:href="@{/quan-ly}">
    <button style=" border-radius: 20px; margin-top: 10px; background-color: #660099;"  type="button" class="btn btn-secondary">Go to homepage</button>
    </a>
    <script th:src="@{/assets/quanly/vendor/js/core/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/assets/quanly/vendor/js/core/bootstrap.min.js}"></script>
</body>
</html>