<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     data-layout-decorate="~{layout-admin}" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Quản lý bảng giá</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a th:href="@{/quan-ly}">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a>Quản lý</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a>Bảng giá nước</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Bảng giá nước</h4>
                                    <button onclick="changetitle()" class="btn btn-sm btn-success btn-round ml-auto"
                                            data-toggle="modal" data-target="#form-building">
                                        <i class="fa fa-plus"></i>
                                        Thêm mới
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- Modal -->
                                <div class="modal fade" id="form-building" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header no-bd">
                                                <h5 class="modal-title" id="form-label">
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-md-5 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <input type="number" id="id" hidden="true"
                                                                       required="required"/>
                                                                <label>Đơn giá </label>
                                                                <input id="price" type="number" class="form-control"
                                                                       placeholder="Đơn giá">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <label>Ngày tạo</label>
                                                                <input id="date" type="date" class="form-control"
                                                                       placeholder="Ngày tạo">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 pl-2">
                                                            <div class="form-group form-group-default">
                                                                <label>Ghi chú</label>
                                                                <textarea id="note" rows="3"
                                                                          class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer no-bd">
                                                <button class="btn btn-success btn-sm" id="save" type="button">
                                                    <i class="fas fa-save"></i>
                                                    Lưu lại
                                                </button>
                                                <button class="btn btn-danger btn-sm" id="clean-form" type="button">
                                                    <i class="fas fa-sync-alt"></i>
                                                    Làm mới
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table id="my-table" class="display table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Ngày tạo</th>
                                            <th>Đơn giá</th>
                                            <th>Người tạo</th>
                                            <th>Ghi chú</th>
                                            <th style="width: 10%">Cập nhật</th>
                                            <th style="width: 10%">Xóa</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Ngày</th>
                                            <th>Đơn giá</th>
                                            <th>Người tạo</th>
                                            <th>Ghi chú</th>
                                            <th style="width: 10%">Cập nhật</th>
                                            <th style="width: 10%">Xóa</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="pull-left"></div>
                <div class="copyright ml-auto">
                    Version 1.0
                </div>
            </div>
        </footer>

        <script th:src="@{/assets/quanly/js/bang-gia/gianuoc.js}"></script>
    </div>
</div>